body {
        background-color: #f0f0f2;
        margin: 0;
        padding: 0;
}
*{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
div {
    width: 50%;
    margin: 2em auto;
    padding: 10px 50px 10px 50px;
    background-color: #fff;
    border-radius: 1em;
}
div.head{
    text-align: center;
    width: 60%;
    margin: 2em auto;
    padding: 10px 50px 10px 50px;
    background-color: #11ff55;
    border-radius: 1em; 
}
div.head2{
    text-align: center;
    width: 60%;
    margin: 2em auto;
    padding: 10px 50px 10px 50px;
    background-color: #ff4422;
    border-radius: 1em;
}
header {
    width: 75%;
    margin: 1em auto;
    padding: 10px 50px 10px 50px;
    background-color: #f0f044;
    border-radius: 1em;
}
a:link{
    color: blue;
}
a:visited{
    color: green;
}

footer{
    color: #fff;
    width: 60%;
    margin: 1em auto;
    padding: 20px 50px 20px 50px;
    background-color: #000;
    border-radius: 1em;
}
footer h1{
    text-align: center;
}

